#svg {
  background: #f5f5f5;
}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

}

.deep {
  text-align: center;
  color: #FF5D33;;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

#name {
  text-align: center;
}
.countries {
  fill: #cccccc;
  stroke: #333333;
  stroke-width: 0.5;
}

#tip {
  position: absolute;
  background: #fff;
  background: -webkit-linear-gradient(top, #fff, #ccc, #fff);
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  padding: 3pt;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: thin solid #aaa;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

#tip.hidden {
  display: none;
}

#bar-chart {

  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 500px;
  width: 550px;
}

.bars {
  fill: blue;

}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


#text-legend {
  font-weight: bold;
}
